@import "tailwindcss";

.hero-section {
  position: relative;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 6rem 1rem 4vh;
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.35),
      rgba(0, 0, 0, 0.957)
    ),
    url("../../assets/hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  text-align: center;
}

.hero-content {
  z-index: 1;
}

.hero-title {
  font-size: clamp(3rem, 6vw, 5rem);
  font-weight: 200;
  margin-bottom: 1rem;
}

.hero-subtitle {
  font-size: clamp(1rem, 2vw, 1.25rem);
  font-weight: 200;
}

.hero-scrolltitle {
  font-size: clamp(0.9rem, 1vw, 1rem);
  font-weight: 200;
  margin-top: 7rem;
  animation: scrollBlink 2s ease-in-out infinite;
}

@keyframes scrollBlink {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}
