@import "tailwindcss";

.hero-section {
  position: relative;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 6rem 1rem 0;
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.35),
      rgba(0, 0, 0, 0.957)
    ),
    url("../../assets/hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  text-align: center;
}

.hero-content {
  z-index: 1;
  margin-bottom: 0vh;
}

.hero-title,
.hero-subtitle,
.hero-scrolltitle {
  font-weight: 200;
}

.hero-title {
  font-size: clamp(5rem, 8vw, 7rem);
  margin-bottom: 0.5rem;
}

.hero-subtitle {
  font-size: clamp(1rem, 2vw, 1.25rem);
}

.hero-scrolltitle {
  font-size: clamp(3rem, 4.5vw, 3.75rem);
  margin-top: 2rem;
  animation: scrollBlink 2s ease-in-out infinite;
}

@keyframes scrollBlink {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}
