@font-face {
  font-family: "PP Editorial New";
  src: url("./Fonts/PPEditorialNew-Ultralight-BF644b21500d0c0.otf")
    format("opentype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PP Editorial New";
  src: url("./Fonts/PPEditorialNew-UltralightItalic-BF644b214ff1e9b.otf")
    format("opentype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "PP Editorial New";
  src: url("./Fonts/PPEditorialNew-Regular-BF644b214ff145f.otf")
    format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PP Editorial New";
  src: url("./Fonts/PPEditorialNew-Italic-BF644b214fb0c0a.otf")
    format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "PP Editorial New";
  src: url("./Fonts/PPEditorialNew-Ultrabold-BF644b21500840c.otf")
    format("opentype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PP Editorial New";
  src: url("./Fonts/PPEditorialNew-UltraboldItalic-BF644b214faef01.otf")
    format("opentype");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

:root {
  --font-heading: "PP Editorial New", "Times New Roman", serif;
  --font-body: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #e6e3d3;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #e6e3d3;
  text-decoration: inherit;
}
a:hover {
  color: #e6e3d3;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
  background-color: #000;
  color: #e6e3d3;
  font-family: var(--font-body);
}

html {
  scroll-behavior: smooth;
}

#root {
  min-height: 100vh;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  font-weight: 600;
  line-height: 1.1;
}

h1 {
  font-size: 3.2em;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #e6e3d3;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #e6e3d3;
  }
  button {
    background-color: #f9f9f9;
  }
}
